%p#notice= notice
%b= link_to 'Продать', new_camera_item_path(camera_model: @camera_model)

%p
  %b Brand:
  = @camera_model.brand
%p
  %b Name:
  = @camera_model.name
%p
  %b Mount:
  = @camera_model.mount
%p
  %b release_year:
  = @camera_model.release_year
%p
  %b status:
  = @camera_model.status
%p
  %b viewfinder:
  = @camera_model.viewfinder
%p
  %b format:
  = @camera_model.format
%p
  %b effective_pixels:
  = @camera_model.effective_pixels
%p
  %b max_resolution:
  = @camera_model.max_resolution
%p
  = link_to 'DYXUM', @camera_model.dyxum_link
%p
  - (1..10).each do |x|
    = image_tag("http://www.dyxum.com#{@camera_model.dyxum_img_link[0..-8] + x.to_s + '.jpg'}")
= link_to 'Back', camera_models_path
