!!!
%html
  %head
    %title KRSZ.RU
    = javascript_include_tag "https://www.gstatic.com/charts/loader.js"
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = csrf_meta_tags
    -#= action_cable_meta_tag
  %body
    / BEGIN HEADER
    .header.navbar.navbar-inverse
      / BEGIN TOP NAVIGATION BAR
      .navbar-inner
        .header-seperation
          %ul.nav.pull-left.notifcation-center.visible-xs.visible-sm
            %li.dropdown
              %a{"data-webarch" => "toggle-left-side", :href => "#main-menu"}
                .iconset.top-menu-toggle-white
          = link_to image_tag("krsz2.png", border: 0), root_path, class: 'logo'
          -#%ul.nav.pull-right.notifcation-center
          -#  %li.dropdown.hidden-xs.hidden-sm
          -#    %a.dropdown-toggle.active{"data-toggle" => "", :href => "index.html"}
          -#      .iconset.top-home
          -#  %li.dropdown.hidden-xs.hidden-sm
          -#    %a.dropdown-toggle{:href => "email.html"}
          -#      .iconset.top-messages
          -#      %span.badge 2
          -#  %li.dropdown.visible-xs.visible-sm
          -#    %a{"data-webarch" => "toggle-right-side", :href => "#"}
          -#      .iconset.top-chat-white
        / END RESPONSIVE MENU TOGGLER
        .header-quick-nav
          / BEGIN TOP NAVIGATION MENU
          - if current_user
            .pull-left
              %ul.nav.quick-section
                %li.quicklinks
                  %a#layout-condensed-toggle{:href => "#"}
                    .iconset.top-menu-toggle-dark
              %ul.nav.quick-section
                %li.quicklinks
                  %a{:href => "#"}
                    .iconset.top-reload
                %li.quicklinks
                  %span.h-seperate
                %li.quicklinks
                  %a{:href => "#"}
                    .iconset.top-tiles
                %li.m-r-10.input-prepend.inside.search-form.no-boarder
                  %span.add-on
                    %span.iconset.top-search
                  %input.no-boarder{:name => "", :placeholder => "Search Dashboard", :style => "width:250px;", :type => "text"}/
          / END TOP NAVIGATION MENU
          / BEGIN CHAT TOGGLER
          .pull-right
            - if current_user
              .chat-toggler
                -#%a#my-task-list.dropdown-toggle{"data-content" => "", "data-original-title" => "Notifications", "data-placement" => "bottom", "data-toggle" => "dropdown", :href => "#"}
                  -#.user-details
                  -#  .username
                  -#    %span.badge.badge-important 3
                  -#    %span.bold
                  -#      = link_to "#{current_user.firstname} #{current_user.lastname}", user_path(current_user)
                  -#.iconset.top-down-arrow
                -##notification-list{:style => "display:none"}
                -#  %div{:style => "width:300px"}
                -#    .notification-messages.info
                -#      .user-profile
                -#        %img{:alt => "", "data-src" => image_path('profiles/d2x.jpg'), "data-src-retina" => image_path('profiles/d2x.jpg'), :height => "35", :src => image_path('profiles/d.jpg'), :width => "35"}/
                -#      .message-wrapper
                -#        .heading
                -#          David Nester - Commented on your wall
                -#        .description
                -#          Meeting postponed to tomorrow
                -#        .date.pull-left
                -#          A min ago
                -#      .clearfix
                -#    .notification-messages.danger
                -#      .iconholder
                -#        %i.icon-warning-sign
                -#      .message-wrapper
                -#        .heading
                -#          Server load limited
                -#        .description
                -#          Database server has reached its daily capicity
                -#        .date.pull-left
                -#          2 mins ago
                -#      .clearfix
                -#    .notification-messages.success
                -#      .user-profile
                -#        %img{:alt => "", "data-src" => image_path('profiles/h.jpg'), "data-src-retina" => image_path('profiles/h2x.jpg'), :height => "35", :src => image_path('profiles/h.jpg'), :width => "35"}/
                -#      .message-wrapper
                -#        .heading
                -#          You haveve got 150 messages
                -#        .description
                -#          150 newly unread messages in your inbox
                -#        .date.pull-left
                -#          An hour ago
                -#      .clearfix
                -#.profile-pic
                -#  %img{:alt => "", "data-src" => image_path('profiles/avatar_small.jpg'), "data-src-retina" => image_path('profiles/d.jpg'), :height => "35", :src => image_path('profiles/avatar_small.jpg'), :width => "35"}/
              %ul.nav.quick-section
                %li.quicklinks
                  %a#user-options.dropdown-toggle.pull-right{"data-toggle" => "dropdown", :href => "#"}
                    .iconset.top-settings-dark
                  %ul.dropdown-menu.pull-right{"aria-labelledby" => "user-options", :role => "menu"}
                    %li
                      %a{ href: user_path(current_user) } My Account
                    %li
                      %a{:href => "email.html"}
                        My Inbox  
                        %span.badge.badge-important.animated.bounceIn 2
                    %li.divider
                    %li
                      = link_to destroy_user_session_path, method: :delete do
                        %i.fa.fa-power-off
                        %span.title Выйти
                %li.quicklinks
                  %span.h-seperate
                %li.quicklinks
                  %a.chat-menu-toggle{"data-webarch" => "toggle-right-side", :href => "#"}
                    .iconset.top-chat-dark
                      %span.badge.badge-important.hide 1
                  -#.simple-chat-popup.chat-menu-toggle.hide
                  -#  .simple-chat-popup-arrow
                  -#  .simple-chat-popup-inner
                  -#    %div{:style => "width:100px"}
                  -#      .semi-bold David Nester
                  -#      .message Hey you there
            - else
              = link_to "Войти", new_user_session_path
              = link_to "Зарегистрироваться", new_user_registration_path
          / END CHAT TOGGLER
        / END TOP NAVIGATION MENU
      / END TOP NAVIGATION BAR
    / END HEADER
    / END HEADER
    / BEGIN CONTAINER
    .page-container.row-fluid
      = render '/layouts/sidebar'
      / BEGIN PAGE CONTAINER
      .page-content
        .content
          - flash.each do |name, msg|
            - if msg.is_a?(String)
              %div.alert{ class: name.to_s == 'notice' ? 'alert-success' : 'alert-danger' }
                %button.close{ type: 'button', 'data-dismiss' => 'alert', 'aria-hidden' => true }
                = content_tag :div, msg, :id => "flash_#{name}"
          = yield
      / BEGIN CHAT
      .chat-window-wrapper
        #main-chat-wrapper.inner-content
          #chat-users.chat-window-wrapper.scroller.scrollbar-dynamic
            / BEGIN CHAT HEADER
            .chat-header
              / BEGIN CHAT SEARCH BAR
              .pull-left
                %input{:placeholder => "search", :type => "text"}/
              / END CHAT SEARCH BAR
              / BEGIN CHAT QUICKLINKS
              .pull-right
                %a{:href => "#"}
                  .iconset.top-settings-dark
              / END CHAT QUICKLINKS
            / END CHAT HEADER
            / BEGIN GROUP WIDGET
            .side-widget
              .side-widget-title group chats
              .side-widget-content
                #groups-list
                  %ul.groups
                    %li
                      %a{:href => "#"}
                        .status-icon.green>
                        Group Chat 1
            / END GROUP WIDGET
            / BEGIN FAVORITES WIDGET
            .side-widget
              .side-widget-title favorites
              .side-widget-content
                / BEGIN SAMPLE CHAT
                .user-details-wrapper.active{"data-chat-status" => "online", "data-chat-user-pic" => image_path('profiles/d.jpg'), "data-chat-user-pic-retina" => image_path('profiles/d2x.jpg'), "data-user-name" => "Jane Smith"}
                  / BEGIN PROFILE PIC
                  .user-profile
                    %img{:alt => "", "data-src" => image_path('profiles/d.jpg'), "data-src-retina" => image_path('profiles/d2x.jpg'), :height => "35", :src => image_path('profiles/d.jpg'), :width => "35"}/
                  / END PROFILE PIC
                  / BEGIN MESSAGE
                  .user-details
                    .user-name Jane Smith
                    .user-more Message...
                  / END MESSAGE
                  / BEGIN MESSAGES BADGE
                  .user-details-status-wrapper
                    %span.badge.badge-important 3
                  / END MESSAGES BADGE
                  / BEGIN STATUS
                  .user-details-count-wrapper
                    .status-icon.green
                  / END STATUS
                  .clearfix
                / END SAMPLE CHAT
            / END FAVORITES WIDGET
            / BEGIN MORE FRIENDS WIDGET
            .side-widget
              .side-widget-title more friends
              #friends-list.side-widget-content
                / BEGIN SAMPLE CHAT
                .user-details-wrapper{"data-chat-status" => "online", "data-chat-user-pic" => image_path('profiles/d.jpg'), "data-chat-user-pic-retina" => image_path('profiles/d2x.jpg'), "data-user-name" => "Jane Smith"}
                  / BEGIN PROFILE PIC
                  .user-profile
                    %img{:alt => "", "data-src" => image_path('profiles/d.jpg'), "data-src-retina" => image_path('profiles/d2x.jpg'), :height => "35", :src => image_path('profiles/d.jpg'), :width => "35"}/
                  / END PROFILE PIC
                  / BEGIN MESSAGE
                  .user-details
                    .user-name Jane Smith
                    .user-more Message...
                  / END MESSAGE
                  / BEGIN MESSAGES BADGE
                  .user-details-status-wrapper
                    %span.badge.badge-important 3
                  / END MESSAGES BADGE
                  / BEGIN STATUS
                  .user-details-count-wrapper
                    .status-icon.green
                  / END STATUS
                  .clearfix
                / END SAMPLE CHAT
            / END MORE FRIENDS WIDGET
          / BEGIN DUMMY CHAT CONVERSATION
          #messages-wrapper.chat-window-wrapper{:style => "display:none"}
            / BEGIN CHAT HEADER BAR
            .chat-header
              / BEGIN SEARCH BAR
              .pull-left
                %input{:placeholder => "search", :type => "text"}/
              / END SEARCH BAR
              / BEGIN CLOSE TOGGLE
              .pull-right
                %a{:href => "#"}
                  .iconset.top-settings-dark
              / END CLOSE TOGGLE
            .clearfix
            / END CHAT HEADER BAR
            / BEGIN CHAT BODY
            .chat-messages-header
              .status.online
              %span.semi-bold Jane Smith(Typing..)
              %a.chat-back{:href => "#"}
                %i.icon-custom-cross
            / BEGIN CHAT MESSAGES CONTAINER
            .chat-messages.scrollbar-dynamic.clearfix
              / BEGIN TIME STAMP EXAMPLE
              .sent_time Yesterday 11:25pm
              / END TIME STAMP EXAMPLE
              / BEGIN EXAMPLE CHAT MESSAGE
              .user-details-wrapper
                / BEGIN MESSENGER PROFILE
                .user-profile
                  %img{:alt => "", "data-src" => image_path('profiles/d.jpg'), "data-src-retina" => image_path('profiles/d2x.jpg'), :height => "35", :src => image_path('profiles/d.jpg'), :width => "35"}/
                / END MESSENGER PROFILE
                / BEGIN MESSENGER MESSAGE
                .user-details
                  .bubble Hello, You there?
                / END MESSENGER MESSAGE
                .clearfix
                / BEGIN TIMESTAMP ON CLICK TOGGLE
                .sent_time.off Yesterday 11:25pm
                / END TIMESTAMP ON CLICK TOGGLE
              / END EXAMPLE CHAT MESSAGE
              / BEGIN TIME STAMP EXAMPLE
              .sent_time Today 11:25pm
              / BEGIN TIME STAMP EXAMPLE
              / BEGIN EXAMPLE CHAT MESSAGE (FROM SELF)
              .user-details-wrapper.pull-right
                / BEGIN MESSENGER MESSAGE
                .user-details
                  .bubble.sender Let me know when you free
                / END MESSENGER MESSAGE
                .clearfix
                / BEGIN TIMESTAMP ON CLICK TOGGLE
                .sent_time.off Sent On Tue, 2:45pm
                / END TIMESTAMP ON CLICK TOGGLE
              / END EXAMPLE CHAT MESSAGE (FROM SELF)
            / END CHAT MESSAGES CONTAINER
          .chat-input-wrapper{:style => "display:none"}
            %textarea#chat-message-input{:placeholder => "Type your message", :rows => "1"}
          .clearfix
          / END DUMMY CHAT CONVERSATION
      / END CHAT
    = javascript_include_tag 'application', 'data-turbolinks-track' => true